
.postpage{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 30px;
    padding: 10px;
}

.postpagemaintext{
    font-size: 24px;
    font-family: "Bitter", serif;
    max-width: 850px;
}

.postpageimg{
    width: 700px;
    height: 350px;
    border-radius: 5px;
}

.postpagetext{
    font-size: 16px;
    font-family: "Bitter", serif;
    font-weight: bold;
}

.comments-section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .comment p {
    margin: 5px 0;
  }
  
  .add-comment {
    margin-top: 20px;
  }
  
  .add-comment textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .add-comment button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4d4d4e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .auth-link {
    color: #7d0000;
    text-decoration: none;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  